entrypoint = "index.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[agent]
expertMode = true

[workflows]

[[workflows.workflow]]
name = "instsll"
mode = "sequential"
author = 44842898

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[ports]]
localPort = 3000
externalPort = 80
